<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:file:testdb</property>
        <property name="hibernate.connection.username">testdb</property>
        <property name="hibernate.connection.password">testdb</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <mapping class="ru.kirkazan.itis2014spring.plan.Patient"/>
        <mapping class="ru.kirkazan.itis2014spring.plan.DegreeDoctor"/>
        <mapping class="ru.kirkazan.itis2014spring.plan.Doctor"/>
        <mapping class="ru.kirkazan.itis2014spring.plan.Pricelist"/>
        <mapping class="ru.kirkazan.itis2014spring.plan.Request"/>
        <mapping class="ru.kirkazan.itis2014spring.plan.Room"/>
        <mapping class="ru.kirkazan.itis2014spring.plan.RoomType"/>
        <mapping class="ru.kirkazan.itis2014spring.plan.Schedule"/>
        <mapping class="ru.kirkazan.itis2014spring.plan.Service"/>
        <mapping class="ru.kirkazan.itis2014spring.plan.ServiceToPatient"/>


    </session-factory>

</hibernate-configuration>